# dependencias y caches
node_modules/
.expo/
.expo-shared/
.cache/
dist/
build/
android/app/build/
ios/build/

# binarios
*.apk
*.aab
*.ipa
*.keystore
*.jks
*.p8
*.p12
*.pem
*.key
*.mobileprovision
*.zip

# secretos locales
.env
.env.*
firebase/config.js
credentials/
