# Node/Expo
node_modules/
.expo/
.expo-shared/
.eas/
dist/
build/
*.log

# Entornos
.env
.env.*

# Nativo: no versionar (EAS prebuild los genera)
android/
ios/
.gradle/
**/build/

# Firmas y binarios
keystores/
*.jks
*.keystore
*.aab
*.apk

# SO
.DS_Store
Thumbs.db

android_backup_*/

android_backup_*/
